# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directory
build

# clang-tidy empty targets
.tidy_*

# ctags
tags

#compile_commands
compile_commands.json

# mnist sample dataset
samples/mnist/train-images-idx3-ubyte
samples/mnist/train-labels-idx1-ubyte
samples/mnist/t10k-images-idx3-ubyte
samples/mnist/t10k-labels-idx1-ubyte

# mnist_conv sample dataset
samples/mnist_conv/train-images-idx3-ubyte
samples/mnist_conv/train-labels-idx1-ubyte
samples/mnist_conv/t10k-images-idx3-ubyte
samples/mnist_conv/t10k-labels-idx1-ubyte

# cifar10_conv sample dataset
samples/cifar10_conv/data_batch_1.bin
samples/cifar10_conv/data_batch_2.bin
samples/cifar10_conv/data_batch_3.bin
samples/cifar10_conv/data_batch_4.bin
samples/cifar10_conv/data_batch_5.bin
samples/cifar10_conv/test_batch.bin
